<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/jquery.dataTables.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">分布式能源综合系统导航</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="./load_plan_buy.html">公布负荷认购信息</a></li>
                <li class="active"><a href="#">中标电量公示</a></li>
                <li><a href="./generator_winner_detail.html">中标电量细节</a></li>
                <li><a href="./energy_resume_feedback.html">能源消耗反馈</a></li>
                <li><a href="./buy_and_pay.html">认购缴清信息</a></li>
            </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> 胡元晟</a></li>
            <li><a href="./login.html"><span class="glyphicon glyphicon-log-in"></span> 登出</a></li>
        </ul>
    </div>
</nav>
<div id="header"></div>
<div id="upchart"></div>
<div id="downchart"></div>
<p>发电商中标电量展示</p>
<div class="container">
    <div class="row">
        <div class="col-lg-3" id="col1">
            <div id="chart1"></div>
            <table>
                <tr><td>PV1</td></tr>
                <tr><td>PV2</td></tr>
                <tr><td>PV3</td></tr>
                <tr><td>PV4</td></tr>
            </table>
        </div>
        <div class="col-lg-3" id="col2">
            <div id="chart2"></div>
            <table>
                <tr><td>WP1</td></tr>
                <tr><td>WP2</td></tr>
                <tr><td>WP3</td></tr>
                <tr><td>WP4</td></tr>
            </table>
        </div>
        <div class="col-lg-3" id="col3">
            <div id="chart3"></div>
            <table>
                <tr><td>HP1</td></tr>
                <tr><td>HP2</td></tr>
                <tr><td>HP3</td></tr>
                <tr><td>HP4</td></tr>
            </table>
        </div>
        <div class="col-lg-3" id="col4">
            <div id="chart4"></div>
            <table>
                <tr><td>NR1</td></tr>
                <tr><td>NR2</td></tr>
                <tr><td>NR3</td></tr>
                <tr><td>NR4</td></tr>
            </table>
        </div>
    </div>
</div>
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/jquery.dataTables.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/highcharts.js"></script>
<script src="../js/react.js"></script>
<script src="../js/react-dom.min.js"></script>
<script src="../js/babel.min.js"></script>
<script type="text/babel" src="../js/app/app.page.bid_win_pub.js"></script>
</html>