<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style type="text/css">
        table.mytable tr {height: 40px}
    </style>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/jquery.dataTables.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">分布式能源综合系统导航</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="./load_plan_buy.html">公布负荷认购信息</a></li>
                <li class="active"><a href="#">中标电量公示</a></li>
                <li><a href="./generator_winner_detail.html">中标电量细节</a></li>
                <li><a href="./energy_resume_feedback.html">能源消耗反馈</a></li>
                <li><a href="./buy_and_pay.html">认购缴清信息</a></li>
            </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> 胡元晟</a></li>
            <li><a href="./login.html"><span class="glyphicon glyphicon-log-in"></span> 登出</a></li>
        </ul>
    </div>
</nav>
<div id="header"></div>
<div id="upchart"></div>
<div id="downchart"></div>
<p>发电商中标电量展示</p>
<div class="container">
    <div class="row">
        <div class="col-lg-3" id="col1">
            <div id="chart1"></div>
            <table style="margin: 0 auto" class="mytable">
                <tr><td><a href="#">PV1</a></td></tr>
                <tr><td><a href="#">PV2</a></td></tr>
                <tr><td><a href="#">PV3</a></td></tr>
                <tr><td><a href="#">PV4</a></td></tr>
            </table>
        </div>
        <div class="col-lg-3" id="col2" style="border-left: 1px solid #444">
            <div id="chart2"></div>
            <table style="margin: 0 auto" class="mytable">
                <tr><td><a href="#">WP1</a></td></tr>
                <tr><td><a href="#">WP2</a></td></tr>
                <tr><td><a href="#">WP3</a></td></tr>
                <tr><td><a href="#">WP4</a></td></tr>
            </table>
        </div>
        <div class="col-lg-3" id="col3" style="border-left: 1px solid #444">
            <div id="chart3"></div>
            <table style="margin: 0 auto" class="mytable">
                <tr><td><a href="#">HP1</a></td></tr>
                <tr><td><a href="#">HP2</a></td></tr>
                <tr><td><a href="#">HP3</a></td></tr>
                <tr><td><a href="#">HP4</a></td></tr>
            </table>
        </div>
        <div class="col-lg-3" id="col4" style="border-left: 1px solid #444">
            <div id="chart4"></div>
            <table style="margin: 0 auto" class="mytable">
                <tr><td><a href="#">NR1</a></td></tr>
                <tr><td><a href="#">NR2</a></td></tr>
                <tr><td><a href="#">NR3</a></td></tr>
                <tr><td><a href="#">NR4</a></td></tr>
            </table>
        </div>
    </div>
</div>
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/jquery.dataTables.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/highcharts.js"></script>
<script src="../js/react.js"></script>
<script src="../js/react-dom.min.js"></script>
<script src="../js/babel.min.js"></script>
<script type="text/babel" src="../js/app/app.page.bid_win_pub.js"></script>
</html>