<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style type="text/css">
        table.mytable tr {border-bottom: 1px solid #444}
    </style>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/jquery.dataTables.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">分布式能源综合系统导航</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="./load_plan_buy.html">公布负荷认购信息</a></li>
                <li><a href="./bid_win_pub.html">中标电量公示</a></li>
                <li><a href="./generator_winner_detail.html">中标电量细节</a></li>
                <li><a href="./energy_resume_feedback.html">能源消耗反馈</a></li>
                <li class="active"><a href="#">认购缴清信息</a></li>
                <li><a href="./manage.html">主动送电管理</a></li>
            </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> 胡元晟</a></li>
            <li><a href="./login.html"><span class="glyphicon glyphicon-log-in"></span> 登出</a></li>
        </ul>
    </div>
</nav>
<div id="header"></div>
<div id="upchart" style="float: left; width: 35%; height: 750px; padding-top: 5%">
    <div class="panel panel-default" style="margin: 0 auto; width:90%; height: 90%">
        <div class="panel-body" style="text-align: center">
            <div data-spy="scroll" data-target="#navbar-example" data-offset="0"
                 style="height:400px;overflow:auto; position: relative; background-color: #a6e1ec" id="tablediv">
            </div>
            <div style="width: 100%; text-align: center; padding-top: 5%" id="paneldiv"></div>
        </div>
    </div>
</div>
<div id="downchart" style="float: left; width: 65%; height: 700px">
    <div style="width: 100%; height: 350px; padding-top: 15%" id="right-chart1"></div>
    <div style="width: 100%; height: 350px; padding-left: 15%; padding-right: 15%" id="right-chart2"></div>
</div>
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/jquery.dataTables.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/highcharts.js"></script>
<script src="../js/react.min.js"></script>
<script src="../js/redux.min.js"></script>
<script src="../js/react-redux.min.js"></script>
<script src="../js/react-dom.min.js"></script>
<script src="../js/babel.min.js"></script>
<script type="text/babel" src="../js/app/Highchart-react.js"></script>
<script type="text/babel" src="../js/app/app.page.buy_and_pay.js"></script>
</html>