<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/jquery.dataTables.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">分布式能源综合系统导航</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="./load_plan_buy.html">公布负荷认购信息</a></li>
                <li><a href="./bid_win_pub.html">中标电量公示</a></li>
                <li><a href="./generator_winner_detail.html">中标电量细节</a></li>
                <li class="active"><a href="#">能源消耗反馈</a></li>
                <li><a href="./buy_and_pay.html">认购缴清信息</a></li>
                <li><a href="./manage.html">主动送电管理</a></li>
            </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> 胡元晟</a></li>
            <li><a href="./login.html"><span class="glyphicon glyphicon-log-in"></span> 登出</a></li>
        </ul>
    </div>
</nav>
<div id="header">

</div>
<div id="upchart">
    <div style="height: 400px; width: 50%; float: left" id="area1">
        <div style="height: 87%; width: 75%; margin: 0 auto; padding-top: 12%">
            <div class="panel panel-default" style="height: 100%; width: 100%">
                <div class="panel-heading" style="text-align: center; height: 20%">
                    <p style="font-size: x-large;">实时能源渗透率</p>
                </div>
                <div class="panel-body" style="text-align: center">
                    <div id="left-up-chart"></div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 400px; width: 50%; float: right" id="area2">
        <div style="height: 87%; width: 75%; margin: 0 auto; padding-top: 12%">
            <div class="panel panel-default" style="height: 100%; width: 100%">
                <div class="panel-heading" style="text-align: center; height: 20%">
                    <p style="font-size: x-large">当日出力累计能效</p>
                </div>
                <div class="panel-body" style="text-align: center; height: 80%">
                    <div id="right-up-chart1" style="float: left; height: 100%; width: 40%">
                        <table style="height: 100%">
                            <tr>
                                <td style="width: 40%">碳排减量：</td>
                                <td><input type="text" value="" style="width: 80%"/>kg</td>
                            </tr>
                            <tr>
                                <td style="width: 40%">碳排减率：</td>
                                <td><input type="text" value="" style="width: 80%"/></td>
                            </tr>
                            <tr>
                                <td style="width: 40%">新能源消纳：</td>
                                <td><input type="text" value="" style="width: 80%"/></td>
                            </tr>
                        </table>
                    </div>
                    <div id="right-up-chart21" style="float: left; height: 100%; width: 30%"></div>
                    <div id="right-up-chart22" style="float: left; height: 100%; width: 30%"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="downchart" style="clear: both">
    <div style="height: 400px; width: 50%; float: left" id="area3">
        <div style="height: 87%; width: 75%; margin: 0 auto; padding-top: 12%">
            <div class="panel panel-default" style="height: 100%; width: 100%">
                <div class="panel-heading" style="text-align: center; height: 20%">
                    <p style="font-size: x-large">当前累计能源结构</p>
                </div>
                <div class="panel-body" style="text-align: center">
                    <div id="left-down-chart"></div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 400px; width: 50%; float: right" id="area4">
        <div style="height: 87%; width: 75%; margin: 0 auto; padding-top: 12%">
            <div class="panel panel-default" style="height: 100%; width: 100%">
                <div class="panel-heading" style="text-align: center; height: 20%">
                    <p style="font-size: x-large">预计能效</p>
                </div>
                <div class="panel-body" style="text-align: center; height: 80%">
                    <div id="right-down-chart1" style="float: left; height: 100%; width: 40%">
                        <table style="height: 100%">
                            <tr>
                                <td style="width: 40%">碳排减量：</td>
                                <td><input type="text" value="" style="width: 80%"/>kg</td>
                            </tr>
                            <tr>
                                <td style="width: 40%">碳排减率：</td>
                                <td><input type="text" value="" style="width: 80%"/></td>
                            </tr>
                            <tr>
                                <td style="width: 40%">新能源消纳：</td>
                                <td><input type="text" value="" style="width: 80%"/></td>
                            </tr>
                        </table>
                    </div>
                    <div id="right-down-chart21" style="float: left; height: 100%; width: 30%"></div>
                    <div id="right-down-chart22" style="float: left; height: 100%; width: 30%"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/jquery.dataTables.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/highcharts.js"></script>
<script src="../js/react.js"></script>
<script src="../js/react-dom.min.js"></script>
<script src="../js/babel.min.js"></script>
<script type="text/babel" src="../js/app/app.page.energy_resume_feedback.js"></script>
</html>