<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        footer {
            text-align: center;
            background-color: #3D3D3D;
            font-size: 11px;
            padding: 40px;
        }
        footer .copyright {
            text-align: center;
            color: #EDEDED;
        }
    </style>
    <link href="../css/jquery.dataTables.min.css" rel="stylesheet">
</head>
<body>
    <div id="upchart">
        <div style="height: 400px; width: 55%; float: left" id="area1"></div>
    </div>
    <div id="downchart" style="height: 400px; clear: left"></div>
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/highcharts.js"></script>
<script src="../js/react.min.js"></script>
<script src="../js/react-dom.min.js"></script>
<script src="../js/babel.min.js"></script>
<script src="../js/react-router-dom.min.js"></script>
<script src="../js/app/Highchart-react.js"></script>
<script src="../js/polyfill.min.js"></script>
<script src="../js/fetch.min.js"></script>
<script type="text/babel" src="../js/app/app.page.generator_winner_detail.js"></script>
</html>