<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="../css/jquery.dataTables.min.css" rel="stylesheet">
</head>
<body>
<div id="header"></div>
<div id="upchart"></div>
<div id="downchart"></div>
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/jquery.dataTables.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/highcharts.js"></script>
<script src="../js/react.js"></script>
<script src="../js/react-dom.min.js"></script>
<script src="../js/babel.min.js"></script>
<script type="text/babel" src="../js/app/app.page.load_plan_buy.js"></script>
</html>