<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        footer {
            text-align: center;
            background-color: #3D3D3D;
            font-size: 11px;
            padding: 40px;
        }
        footer .copyright {
            text-align: center;
            color: #EDEDED;
        }
    </style>
    <link href="../css/jquery.dataTables.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">分布式能源综合系统导航</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">公布负荷认购信息</a></li>
                <li><a href="./bid_win_pub.html">中标电量公示</a></li>
                <li><a href="./energy_resume_feedback.html">能源消耗反馈</a></li>
                <li><a href="./buy_and_pay.html">认购缴清信息</a></li>
                <li><a href="./manage.html">主动送电管理</a></li>
                <li><a href="./about.html">关于使用</a></li>
            </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> 胡元晟</a></li>
            <li><a href="./login.html"><span class="glyphicon glyphicon-log-in"></span> 登出</a></li>
        </ul>
    </div>
</nav>
<div id="myCarousel" class="carousel slide" style="width: 90%;margin: 0 auto" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active" style="background-image:url(../images/lunbo1.jpg);width:100%;height: 200px;background-size: cover;text-align: center;line-height: 200px">
            <p style="font-size: xx-large;color: #b80b17">分布式可再生能源 version 1.0</p>
        </div>
        <div class="item" style="background-image:url(../images/lunbo2.png);width:100%;height: 200px;background-size: cover;text-align: center;line-height: 200px">
            <p style="font-size: xx-large;color: #b80b17">能源类型-风电、小水电、光伏</p>
        </div>
        <div class="item" style="background-image:url(../images/lunbo3.png);width:100%;height: 200px;background-size: cover;text-align: center;line-height: 200px">
            <p style="font-size: xx-large;color: #b80b17">包含电力交易过程与可再生能源消纳展示</p>
        </div>
    </div>
    <a class="carousel-control left" href="#myCarousel"
       data-slide="prev"><span class="icon-prev"></span></a>
    <a class="carousel-control right" href="#myCarousel"
       data-slide="next"><span class="icon-next"></span></a>
</div>
<hr/>
<div id="upchart">
    <div id="LoadForecastCurve" style="width: 80%; height: 400px"></div>
</div>
<div id="downchart"></div>
<hr/>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="copyright">Copyright &copy; 2017 上海交通大学电气工程系</p>
            </div>
        </div>
    </div>
</footer>
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/jquery.dataTables.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/highcharts.js"></script>
<script src="../js/react.min.js"></script>
<script src="../js/redux.min.js"></script>
<script src="../js/react-redux.min.js"></script>
<script src="../js/react-dom.min.js"></script>
<script src="../js/babel.min.js"></script>
<script src="../js/polyfill.min.js"></script>
<script src="../js/fetch.min.js"></script>
<script type="text/babel" src="../js/app/Highchart-react.js"></script>
<script type="text/babel" src="../js/app/app.page.load_plan_buy.js"></script>
</html>