<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/jquery.dataTables.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">分布式能源综合系统导航</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">公布负荷认购信息</a></li>
                <li><a href="./bid_win_pub.html">中标电量公示</a></li>
                <li><a href="./generator_winner_detail.html">中标电量细节</a></li>
                <li><a href="./energy_resume_feedback.html">能源消耗反馈</a></li>
                <li><a href="./buy_and_pay.html">认购缴清信息</a></li>
                <li><a href="./manage.html">主动送电管理</a></li>
            </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> 胡元晟</a></li>
            <li><a href="./login.html"><span class="glyphicon glyphicon-log-in"></span> 登出</a></li>
        </ul>
    </div>
</nav>
<div id="header"></div>
<div id="upchart">
    <div id="LoadForecastCurve" style="width: 80%; height: 400px"></div>
</div>
<div id="downchart"></div>
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/jquery.dataTables.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/highcharts.js"></script>
<script src="../js/react.js"></script>
<script src="../js/redux.min.js"></script>
<script src="../js/react-redux.min.js"></script>
<script src="../js/react-dom.min.js"></script>
<script src="../js/babel.min.js"></script>
<script type="text/babel" src="../js/app/Highchart-react.js"></script>
<script type="text/babel" src="../js/app/app.page.load_plan_buy.js"></script>
</html>