<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/jquery.dataTables.min.css" rel="stylesheet">
</head>
<body background="../images/timg.jpg">
<div className="header-div" style="width:99%;height:200px;background-image:url(../images/tu1.jpg)">
    <p>分布式可再生能源 version 1.0</p>
</div>
<div style="height: 100px"></div>
<div class="panel panel-default" style="width: 50%; margin: 0 auto">
    <div class="panel-body">
        <form class="form-horizontal" method="post">
            <p class="form-signin-heading" style="text-align:center;font-size: large">Energy Information System</p>
            <div class="form-group" style="margin-left: 10%">
                <label> identification</label>
                <input name="id" type="text" id="userid" style="float: right;margin-right: 20%">
            </div>
            <div class="form-group" style="margin-left: 10%">
                <label> password</label>
                <input name="pass" type="password" id="password" style="float: right;margin-right: 20%">
            </div>
            <button type="submit" class="btn btn-success col-sm-10" style="margin-left: 8%">LOGIN</button>
            <div style="height: 60px"></div>

        </form><button class="btn btn-info col-sm-10" style="margin-left: 8%">Customer click to login</button>
    </div>
</div>
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/jquery.dataTables.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/highcharts.js"></script>
<script src="../js/react.min.js"></script>
<script src="../js/redux.min.js"></script>
<script src="../js/react-redux.min.js"></script>
<script src="../js/react-dom.min.js"></script>
<script src="../js/babel.min.js"></script>
</html>