<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style type="text/css">
        table.mytable tr {height: 40px}
        footer {
            text-align: center;
            background-color: #3D3D3D;
            font-size: 11px;
            padding: 40px;
        }
        footer .copyright {
            text-align: center;
            color: #EDEDED;
        }
    </style>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/jquery.dataTables.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">分布式能源综合系统导航</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="./load_plan_buy.html">公布负荷认购信息</a></li>
                <li><a href="#">中标电量公示</a></li>
                <li><a href="./energy_resume_feedback.html">能源消耗反馈</a></li>
                <li><a href="./buy_and_pay.html">认购缴清信息</a></li>
                <li class="active"><a href="#">主动送电管理</a></li>
                <li><a href="./about.html">关于使用</a></li>
            </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> 胡元晟</a></li>
            <li><a href="./login.html"><span class="glyphicon glyphicon-log-in"></span> 登出</a></li>
        </ul>
    </div>
</nav>
<div id="myCarousel" class="carousel slide" style="width: 90%;margin: 0 auto" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active" style="background-image:url(../images/lunbo1.jpg);width:100%;height: 200px;background-size: cover;text-align: center;line-height: 200px">
            <p style="font-size: xx-large;color: #b80b17">分布式可再生能源 version 1.0</p>
        </div>
        <div class="item" style="background-image:url(../images/lunbo2.png);width:100%;height: 200px;background-size: cover;text-align: center;line-height: 200px">
            <p style="font-size: xx-large;color: #b80b17">能源类型-风电、小水电、光伏</p>
        </div>
        <div class="item" style="background-image:url(../images/lunbo3.png);width:100%;height: 200px;background-size: cover;text-align: center;line-height: 200px">
            <p style="font-size: xx-large;color: #b80b17">包含电力交易过程与可再生能源消纳展示</p>
        </div>
    </div>
    <a class="carousel-control left" href="#myCarousel"
       data-slide="prev"><span class="icon-prev"></span></a>
    <a class="carousel-control right" href="#myCarousel"
       data-slide="next"><span class="icon-next"></span></a>
</div>
<hr/>
<div id="cloud" style="float: left; width: 50%;padding-left: 10%;padding-top: 10%">
    <canvas width="400" height="400" id="myCanvas">
        <p>Anything in here will be replaced on browsers that support the canvas element</p>
        <ul class="weighted" style="font-size: 30%" id="weightTags">
            <li><a href='#' data-weight=22>LD1</a></li>
            <li><a href='#' data-weight=22>LD2</a></li>
            <li><a href='#' data-weight=22>LD3</a></li>
            <li><a href='#' data-weight=22>LD4</a></li>
            <li><a href='#' data-weight=22>LD5</a></li>
            <li><a href='#' data-weight=30>LD6</a></li>
            <li><a href='#' data-weight=22>LD7</a></li>
            <li><a href='#' data-weight=22>LD8</a></li>
            <li><a href='#' data-weight=22>LD9</a></li>
            <li><a href='#' data-weight=22>LD10</a></li>
            <li><a href='#' data-weight=22>LD11</a></li>
            <li><a href='#' data-weight=22>LD12</a></li>
            <li><a href='#' data-weight=22>LD13</a></li>
            <li><a href='#' data-weight=22>LD14</a></li>
            <li><a href='#' data-weight=22>LD15</a></li>
            <li><a href='#' data-weight=22>LD15</a></li>
            <li><a href='#' data-weight=22>LD4</a></li>
            <li><a href='#' data-weight=22>LD5</a></li>
            <li><a href='#' data-weight=30>LD6</a></li>
            <li><a href='#' data-weight=22>LD7</a></li>
            <li><a href='#' data-weight=22>LD8</a></li>
            <li><a href='#' data-weight=22>LD9</a></li>
            <li><a href='#' data-weight=22>LD10</a></li>
            <li><a href='#' data-weight=22>LD11</a></li>
        </ul>
    </canvas>
</div>
<div id="cloud2" style="float: left; width: 50%;padding-left: 10%;padding-top: 10%">
    <canvas width="400" height="400" id="myCanvas2">
        <p>Anything in here will be replaced on browsers that support the canvas element</p>
        <ul class="weighted" style="font-size: 30%" id="weightTags2">
            <li><a href='#' data-weight=22>USER1</a></li>
            <li><a href='#' data-weight=22>USER2</a></li>
            <li><a href='#' data-weight=22>USER3</a></li>
            <li><a href='#' data-weight=22>USER4</a></li>
            <li><a href='#' data-weight=22>USER5</a></li>
            <li><a href='#' data-weight=30>USER6</a></li>
            <li><a href='#' data-weight=22>USER7</a></li>
            <li><a href='#' data-weight=22>USER8</a></li>
            <li><a href='#' data-weight=22>USER9</a></li>
            <li><a href='#' data-weight=22>USER10</a></li>
            <li><a href='#' data-weight=22>USER11</a></li>
            <li><a href='#' data-weight=22>USER12</a></li>
            <li><a href='#' data-weight=22>USER13</a></li>
            <li><a href='#' data-weight=22>USER14</a></li>
            <li><a href='#' data-weight=22>USER15</a></li>
            <li><a href='#' data-weight=22>USER15</a></li>
            <li><a href='#' data-weight=22>USER4</a></li>
            <li><a href='#' data-weight=22>USER5</a></li>
            <li><a href='#' data-weight=30>USER6</a></li>
            <li><a href='#' data-weight=22>USER7</a></li>
            <li><a href='#' data-weight=22>USER8</a></li>
            <li><a href='#' data-weight=22>USER9</a></li>
            <li><a href='#' data-weight=22>USER10</a></li>
            <li><a href='#' data-weight=22>USER11</a></li>
            <li><a href='#' data-weight=22>USER12</a></li>
        </ul>
    </canvas>
</div>
<div class="panel" style="float: left;width: 47%;text-align: center;border-right: 1px solid #444;border-top: 1px solid #444;margin-left: 2%;border-left: 1px solid #444;border-bottom: 1px solid #444">
    <p style="font-size: x-large;color: #761c19">供电商管理</p>
    <table id="table1">
        <thead>
        <tr>
            <th>供电商名</th>
            <th>供电商ID</th>
            <th>机组容量</th>
            <th>类型</th>
            <th>历史发电量</th>
            <th>历史收益</th>
        </tr>
        </thead>
    </table>
</div>
<div class="panel" style="float: right;width: 47%;text-align: center;border-top: 1px solid #444;border-left: 1px solid #444;margin-right: 2%;border-right: 1px solid #444;border-bottom: 1px solid #444">
    <p style="font-size: x-large;color: #985f0d">电力用户管理</p>
    <table id="table2">
        <thead>
        <tr>
            <th>用户编号</th>
            <th>总支出</th>
            <th>总电量</th>
            <th>光电</th>
            <th>风电</th>
            <th>水电</th>
        </tr>
        </thead>
    </table>
</div>
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery.dataTables.min.js"></script>
<script src='../js/tagcloud.js'></script>
<script src='../js/cloud.js'></script>
<script>
    $('#table1').DataTable();
    $('#table2').DataTable();
</script>
<div style="clear: both"></div>
<hr/>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="copyright">Copyright &copy; 2017 上海交通大学电气工程系</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>